- var menu = ["新闻资讯","视频展示","加盟招商"]
.row.page-section#news
  .cookies
    .cookies.absolute#c4-1
    .cookies.absolute#c4-2
    .cookies.absolute#c4-3

  .container
    .header
      img(src="img/4/4-1.png")
      .menu
        - for (var i = 0; i< 3; i++)
          if i ==0
            a.active(data-ref="#{i}") #{menu[i]}
          else
            a(data-ref="#{i}") #{menu[i]}
    .news
      .news-section.active#news-section-0
        - for (var i = 0; i < 10; i++)
          .news-entry(id="news-#{i}")
            .left
              img(src="img/4/4-2.png")
              .pod
                .t1 2014秋装发布会
                a.more(data-ref="news-#{i}") MORE
            .right
              img(src="img/4/4-3.png")

      .news-section#news-section-1
        - for (var i = 0; i < 10; i++)
          .news-entry.video-entry(id="news-#{i}")
            .left(data-source="videos/demo.mp4")
              img(src="img/4/4-2.png")
              img.play-icon(src="img/4/4-10.png")
              .mark 2014形象大片#{i}
            .right
              img(src="img/4/4-3.png")

      .news-section#news-section-2
        - for (var i = 0; i < 10; i++)
          .news-entry(id="news-#{i}")
            .left
              img(src="img/4/4-2.png")
              .pod
                .t1 2014加盟
                a.more(data-ref="news-#{i}") MORE
            .right
              img(src="img/4/4-3.png")

    .news-nav
      a#news-pre
        img(src="img/4/4-5.png")
      span.nav-cnt 1/10
      a#news-next
        img(src="img/4/4-6.png")


